* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #212121;
}

.loader {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  position: relative;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 3s infinite;
}

.nucleus {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(#0738e8, cyan);
  width: 2rem;
  height: 2rem;
  animation: rotate 1s linear infinite;
}

.electron {
  position: absolute;
  width: 15rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.3rem solid #00ffff;
  animation: color 1s linear infinite;
}

.electron1::before,
.electron2::before,
.electron3::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  background-color: #00ffff;
  border-radius: 50%;
  animation: move 1s infinite;
}

.electron2 {
  transform: rotate(60deg);
  animation-delay: -0.66s;
}

.electron2::before {
  animation-delay: -0.66s;
}

.electron3 {
  transform: rotate(-60deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg) scale3d(1.1, 1.1, 0);
  }
}

@keyframes color {
  0% {
    border-color: #00ffff;
    border-right-color: #212121;
  }
  25% {
    border-color: #00ffff;
    border-bottom-color: #212121;
  }
  50% {
    border-color: #00ffff;
    border-left-color: #212121;
  }
  75% {
    border-color: #00ffff9c;
    border-top-color: #212121;
  }
  100% {
    border-color: #00ffff9c;
    border-right-color: #212121;
  }
}

@keyframes move {
  0% {
    top: 60%;
    left: 100%;
  }
  25% {
    top: 100%;
    left: 60%;
  }
  50% {
    top: 60%;
    left: 0;
  }
  75% {
    top: 0;
    left: 60%;
  }
  100% {
    top: 60%;
    left: 100%;
  }
}
