* {
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgb(67, 117, 134);
}

html,
body {
  height: 100%;
}

body {
  background-color: #1e1e1e;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
}

.wrapper__top {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #292929;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.wrapper__list {
  width: fit-content;
  min-width: 240px;
  height: 100%;
  overflow: auto;
  padding: 10px;
  border-right: 3px solid #292929;
}

.wrapper__content {
  flex: 1;
  height: 100%;
  overflow: auto;
  font-size: 1.2rem;
  white-space: pre;
  line-height: 1.5;
  word-break: break-all;
}

.wrapper__content > img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: #f2f2f2;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-section,
.hljs-title {
  font-weight: normal;
}

/* 1 */
.wrapper__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "consolas", "Signika Negative", sans-serif;
}

.wrapper__list li {
  position: relative;
  padding: 12px;
  /* margin: 5px 0; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap; /* 禁止文本换行 */
  text-overflow: ellipsis; /* 超出部分显示省略号 */
  overflow: hidden; /* 超出部分隐藏 */
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.wrapper__list li::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #007bff; /* 蓝色圆点 */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.wrapper__list li ul li::before {
  background: #28a745; /* 绿色圆点 */
}

.wrapper__list ul ul ul li::before {
  background: #ffc107; /* 黄色圆点 */
}

.wrapper__list li ul {
  border-left: 3px solid #007bff; /* 蓝色虚线 */
  margin-left: 20px;
  padding-left: 20px;
}

.wrapper__list li ul ul {
  border-left: 3px solid #28a745; /* 绿色虚线 */
}

.wrapper__list li ul ul ul {
  border-left: 3px solid #ffc107; /* 黄色虚线 */
}

.wrapper__list li:hover::before {
  background: #fff; /* 悬停时圆点变为白色 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 强化圆点阴影 */
}

.wrapper__list li[data-path] {
  cursor: pointer;
}

.wrapper__list li.active {
  background: #343a40;
  color: #3ff23f;
}

.wrapper__list li.active::before {
  background: #3ff23f; /* 活动项圆点颜色为绿色 */
}

/* 2 */
.wrapper__content h2 {
  font-size: 22px;
}

.wrapper__content h3 {
  font-size: 20px;
}

.wrapper__content h4 {
  font-size: 18px;
}
.wrapper__content p {
  line-height: 2;
}

.wrapper__content > * {
  margin-bottom: 20px !important;
}

.wrapper__content p {
  letter-spacing: 1px;
}

.wrapper__content code[class*="language-"] {
  background: initial;
  box-shadow: initial;
  font-style: italic;
  line-height: 2;
}

.wrapper__content pre[class*="language-"] {
  background: initial;
  margin: 0;
}

.wrapper__content strong {
  color: #3ff23f;
}
.wrapper__content img {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.wrapper__content blockquote {
  position: relative;
  padding: 5px 0;
}

.wrapper__content blockquote p {
  font-style: italic;
}

.wrapper__content blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 4px;
  height: 100%;
  background-color: #fff;
}

.wrapper__content a:not(.token) {
  color: #fff;
  /* text-decoration: none; */
  position: relative;
  transition: 0.5s;
}

.wrapper__content a:not(.token):hover {
  color: #00f;
  transition: 0.5s;
}

.wrapper__content a:not(.token):hover::before {
  content: none;
}
.wrapper__content p code,
.wrapper__content li code {
  color: #3ff23f;
  font-family: "consolas", "Signika Negative", sans-serif;
  padding: 0 5px;
  font-weight: 500;
}
.wrapper__content code[class*="language-"] a[href],
.wrapper__content pre[class*="language-"] a[href] {
  color: #fff;
  pointer-events: none;
}
.wrapper__content table {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px -50px 36px -28px inset;
}

.wrapper__content table thead tr {
  border-bottom: 1px solid #fff;
  height: 50px;
}

.wrapper__content table thead tr th {
  text-align: center;
}

.wrapper__content table tbody tr td {
  text-align: center;
  padding: 10px;
  /* border-bottom: 1px solid #fff; */
  line-height: 1.5;
}

.wrapper__content table tbody tr {
  border-bottom: 1px solid #fff;
}

.wrapper__content ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
  line-height: 2;
}

.wrapper__content ol {
  list-style: decimal;
}

.wrapper__content ol > li {
  margin-left: 33px;
  margin-top: 20px;
  line-height: 2;
}

.wrapper__content ol > li::marker {
  color: #fff;
  float: left;
  font-weight: 600;
}

.wrapper__content ul > li::before {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 100%;
}

.mdClass {
  padding: 20px;
  white-space: normal;
}

.mdClass > * {
  font-size: 0.94em;
  font-family: "consolas", "Signika Negative", sans-serif;
}
/* 3 */

.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin {
  background-color: #1e1e1e !important;
}

.wrapper__top_ex,
.wrapper__top_preview,
.wrapper__top_home {
  width: 40px;
  height: 40px;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}

.wrapper__top_ex:hover,
.wrapper__top_preview:hover,
.wrapper__top_home:hover {
  background-color: #2f2f2f;
  transition: 0.5s;
}

.wrapper__top_preview {
  margin-left: 5px;
}

.wrapper__top_home {
  margin-right: 5px;
}

.wrapper__top_preview svg,
.wrapper__top_home svg {
  width: 24px;
  height: 24px;
}

.isshow {
  display: none;
}
