* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(4, 75, 97);
}
.box {
  position: relative;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  border-radius: 20px;
}
.box::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 140%;
  background-color: rgb(0, 253, 211);
  box-shadow: 0 0 20px rgb(8, 8, 8);
  animation: anim 4s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  inset: 10px;
  background-color: rgb(4, 75, 97);
  border-radius: 16px;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
