* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.container {
  perspective: 1000px;
}

.inner {
  transform-style: preserve-3d;
  position: relative;
  display: grid;
  place-items: center;
  transform: rotateX(-45deg) rotateY(3deg);
}

.element {
  width: 200px;
  height: 150px;
  background: hsl(40, 80%, 50%);
  position: absolute;
  box-shadow: inset 0 0 50px #000;
  transition: all .35s ease;
}
